<!DOCTYPE HTML>
<html>
  <head>
        <title>NY Times Events</title>
        <link rel="stylesheet" type="text/css" href="public/css/styles.css" />
    </head>
    <body>

        <div id="map"></div>
    

        <!--script type="text/template" id="event-tpl">
		    <li data-index="<%= index %>">
		        <h2>
		            <%= name %>
		        </h2>
		    </li>
		</script-->


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/views/eventListView.js"></script>
        <script src="app/views/eventMarkerView.js"></script>
        <script src="app/models/eventItem.js"></script>
        <script src="app/collections/eventList.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGBtm6wflxAawpfGL4SvZPya0lL8JYpvs">
	    </script>
        <script>
            window.onload = function() {
                app.init();
            }
        </script>
    </body>
</html>